
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     --white: #fff;
     --green: #49b293;
 }

 body {
     justify-content: center;
     align-items: center;
     min-height: 80vh;
     background: url('../img/fon.jpg') no-repeat;
     background-position: center;
 }
 
header {
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
     height: 10%;
     padding: 1px 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 99;
     background: rgba(255, 255, 255, 0.2); 
     backdrop-filter: blur(8px); 
     border-radius: 10px;
 }
 
 header ul{
     list-style-type: none;
 }

 header ul li{
     float: left;
     position: relative;
 }

 header ul li a{
     display: block;

 }

 .logo a{
     font-size: 2em;
     color: var(--white);
     user-select: none;
     text-decoration: none;
 }
 .navigation ul li a {
     position: relative;
     font-size: 1.1em;
     float: left;
     position: relative;
     color: var(--white);
     text-decoration: none;
     font-weight: 50%;
     margin-left: 30px;
 }

 .navigation ul li ul {
     position: absolute;
     top: 24px;
     width: 180px;
     z-index: 111;
     display: none;
 }

 .navigation ul li:hover ul{
     display: block;
 }

 .navigation ul li ul li {
     width: 100%;
 }

 .navigation ul li ul li a{
     margin-bottom: 5px;
     margin-top: 5px;
     background: rgba(255, 255, 255, 0.2); 
     backdrop-filter: blur(8px); 
     border-radius: 10px;
 }
 
 .navigation ul li a::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: -4px;
     width: 100%;
     height: 3px;
     background: var(--white);
     border-radius: 3px;
     transform-origin: right;
     transform: scaleZ(0);
     transition: transform .1s;
 }
 
 .navigation ul li a:hover::after {
     transform-origin: left;
     transform: scaleX(1);
 }

 h3{
     display: inline-block;
     font-size: 34px;
     margin-bottom: 5px;
     margin-top: -5px;
     color: var(--white);

 }
.statement{
     display: inline;
     justify-content: flex-start;
}
 .aut-reg{
     display: grid;
     justify-content: center;
 }

 .aut{
     color:aqua;
     display: flex;
     justify-content: center;
 }
 
 .container-log {
     display: grid;
     align-items: center;
     width: 500px;
     margin: auto;
     flex-wrap: wrap;
     margin-top: -60px;
}


.container-blur {
     background: rgba(255, 255, 255, 0.2); 
     backdrop-filter: blur(8px); 
     border-radius: 10px;
     margin-top: 80px;
}
.login-container {
     background: transparent;
     padding: 30px;
     border-radius: 8px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     width: 100%;
}

.input-group {
     margin-bottom: 20px;
     color: var(--white);
}

label{
     display: block;
     margin-bottom: 8px;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"]{
     width: 95%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
}

button{
     width: 100%;
     padding: 10px;
     background-color: #007bff;
     border: none;
     border-radius: 5px;
     color: var(--white);
     cursor: pointer;
     transition: background-color 0.3s;
}

button:hover{
     background-color: #0056b3;
}

.statement {
     display: grid;
     align-items: center;
     width: auto;
     flex-wrap: wrap;
     margin-top: -60px;
}

p{
     color: var(--white);
     font-size: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
}

.forgot-password {
     display: block;
     text-align: right;
     text-decoration: none;
     color: #007bff;
     margin-bottom: 10px;
}
   
img {
     max-width: 100%;
     height: auto;
}
   
a {
     text-decoration: none;
     color: inherit;
}
   
.author-archive {
     padding: 1.5rem;
}
   
h1 {
     text-align: start;
     margin-bottom: 1rem;
     flex-wrap: wrap;
     display: block;
     color: var(--white);
}
   
h1 a {
     transition: all 0.1s;
}
   
h1 a:hover {
     background: var(--green);
     color: var(--white);
}

.avatar{
     width: fit-content;
     position: relative;
     text-align: center;
     margin: auto;
}

.avatar-container{
     cursor: pointer;
     border-radius: 50%;
     border: 1px solid var(--white);
     overflow: hidden;
     position: relative;
}
.avatar-image{
     border-radius: 50%;
     height: 100%;
     width: auto;
}

.avatar-size{
     width: 10rem;
     height: 10rem;
}

.edit-container{
     opacity: 0;
     transition: opacity 0.2s ease-in-out;
     background-color: rgba(32, 33, 36, 0.6);
     bottom: 0;
     height: 33%;
     left: 0;
     position: absolute;
     right: 0;
     text-align: center;
     font-size: 200%;
}

.avatar-container:hover .edit-container{
     opacity: 1;
}
section{
     background: rgba(255, 255, 255, 0.2); 
     width: 74%;
     display: inline-block;
     height: auto;
     margin-top: 5px;
     margin-bottom: 5px;
     align-items: center;
     border-radius: 8px;
     backdrop-filter: blur(8px);
     border: 2px var(--white) solid;
}

.block {
     display: flex;
     flex: 1;
     align-items: flex-start;
     background-color: rgba(255, 255, 255, 0.2);
     min-width: 200px;
     justify-content: space-between;
     width: auto;
     height: auto;
     margin: 10px;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.block-info{
     display: inline-block;
     justify-content: space-between;
}

.block img {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     margin-right: 10px;
     background: var(--white);
}

.block .info {
     flex: 1;
}

.block .info h2 {
     margin: 0;
}

.block .info p {
     margin: 0;
}
.block h3 {
     margin: 10px 0;
     display: inline-block;
     position: absolute;
}

.block p {
     margin: 5px 0;
     display: inline-block;
}

.button-appointment {
     display: inline-block;
     width: 150px;
     margin-top: auto;
     background-color: #007bff;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s;
}

.button-appointment:hover {
     background-color: #0056b3;
}

aside{
     background: rgba(255, 255, 255, 0.2); 
     width: 25%;
     display: inline-block;
     height: auto;
     align-items: center;
     border: 2px var(--white) solid;
     justify-content: center;
     border-radius: 8px;
     backdrop-filter: blur(8px);
}
.header-block h1{
     text-align: center;
     border-bottom: 2px var(--white) solid;
     margin: 10px 15px 1px 15px;
}

footer{
     color: var(--white);
     height: 300px;
     background: rgba(255, 255, 255, 0.2); 
     backdrop-filter: blur(8px); 
     width: auto;
}

.footer-content {
     display: flex;
}

.container {
     width: 1200px;
     margin: auto;
}
.footer-content-block {
     flex: 1;
     padding-top: 60px;
     padding-left: 140px;
}

.footer-content p {
     width: 360px;
     font-size: 18px;
     font-weight: 500;
     line-height: 27px;
}

.footer-copyright {
     font-size: 16px;
     font-weight: 100;
}

.footer-menu-items {
     padding: 0;
     margin: 0;
}

.footer-menu-item {
     list-style-type: none;
}

.footer-menu-item a {
     color: #fff;
     text-decoration: none;
     font-size: 18px;
     line-height: 38px;
     font-weight: 100;
}

.footer-navigation-title {
     display: inline-block;
     font-size: 20px;
     margin-bottom: 20px;
     font-weight: 700;
}

.modal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.4);
}
    
.modal-content {
     background-color: #fefefe;
     margin: 15% auto;
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
}
    
    .close {
     color: #aaaaaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
}
    
.close:hover,
.close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
}